page-form-product {
  .no-shadow {
    box-shadow: none;
  }

  .card-product {
    text-align: center;
    position: relative;
    border-top: solid 5px color($colors, primary);

    .card-content {
      padding: 5px 10px;

      img {
        height: 100px;
        width: auto;
        display: inline-block;
      }
    }
  }

  .list-card {
    .card {
      margin: 0;
      margin-bottom: 10px;
      width: 100%;
      padding-bottom: 0 !important;
      border-left: solid 5px color($colors, primary);
    }

    .label {
      margin: 0;
    }
  }

  .error-message {
    color: color($flash, error);
  }
}
