<ion-header>
  <ion-navbar color="primary">
    <ion-title>Editar produto</ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="card-product">
    <ion-card-content>
      <img-loader [src]="product?.images[0]?.url" class="img-loader"></img-loader>
      <h4>#{{ product?.id }} - {{ product?.description }}</h4>
    </ion-card-content>
  </ion-card>

  <ion-card no-border>
    <ion-card-content>
      <form [formGroup]="form" (submit)="submit(); $event.preventDefault()" novalidate>
        <ion-item no-padding>
          <ion-label stacked>Quantidade a comprar *</ion-label>
          <ion-input type="number" formControlName="quantity"></ion-input>
        </ion-item>

        <ion-note class="error-message" *ngIf="form.get('quantity').hasError('required') && (form.get('quantity').dirty || form.get('quantity').touched)">
          Um valor deve ser informado.
        </ion-note>

        <ion-item no-padding>
          <ion-label stacked>Quantidade comprada</ion-label>
          <ion-input type="number" formControlName="quantity_purchased"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-toolbar color="primary">
      <button class="no-shadow" ion-button full color="primary" (click)="submit()" [disabled]="form.invalid">Atualizar</button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
