<ion-header>
  <ion-navbar color="primary">
    <ion-title>Configurações e privacidade</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines no-border>
    <ion-list-header>Geral</ion-list-header>
    <button ion-item (click)="openPage('AboutAppPage')">Sobre o Aplicativo</button>
  </ion-list>
</ion-content>
