<ion-header no-border>
  <ion-navbar hideBackButton transparent>
    <ion-buttons end>
      <button ion-button icon-only (click)="openPage('TabsPage')">
        Pular
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding layout="auth">
  <div text-center class="center">
    <ion-list no-lines>
      <h4>Parabéns {{ params?.people.name_reason | pickUpCertainWords }}, você se cadastrou com sucesso!</h4>

      <ion-item text-center>
        <ion-img width="150" height="150" [src]="photo"></ion-img>
      </ion-item>

      <h4>Agora falta somente sua foto!</h4>

      <button ion-button full (click)="takePicture()">Tirar Foto</button>
      <button ion-button clear (click)="photoGallery()">Buscar na minha galeria</button>
    </ion-list>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="primary" text-center>
    <button ion-button full (click)="submitPhoto()">Finalizar Cadastro</button>
  </ion-toolbar>
</ion-footer>
