page-about-app {
  .content {
    background: url('../assets/imgs/about/background.jpg') no-repeat transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
    animation: animatedBackground 40s linear infinite;
  }

  .content:after{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(247,247,247,.8);
  }

  .conteudo {
    top: 25%;
    position: absolute;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .logo {
    width: 100vw;
    height: auto;
  }
}
