<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detalhes da lista</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="list-card">
    <ion-card padding class="item-ribbon">
      <span class="ribbon public" *ngIf="list.public">
        <span>Pública</span>
      </span>

      <ion-item no-padding>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-12>
              <h2>#{{ list.id }} - {{ list?.name }}</h2>
            </ion-col>
          </ion-row>
        </ion-grid>

        <p class="note">{{ list?.note }}</p>

        <p style="margin: 6px 0 0 0;">
          <ion-icon name="calendar"></ion-icon>
          Cadastrada em {{ list?.created_at | date: 'dd/MM/yyyy hh:mm' }}<br>
        </p>

        <p>
          <ion-icon name="contact"></ion-icon>
          Cadastrada por {{ list.created_by | pickUpCertainWords:2 }}<br>
        </p>
      </ion-item>
    </ion-card>
  </div>

  <ion-card no-border class="notfound" *ngIf="products.length == 0">
    <ion-card-content text-center>
      <img src="assets/imgs/no-results.png" />
      <h1>Esta lista não tem nenhum produto</h1>
    </ion-card-content>
  </ion-card>

  <div *ngIf="products.length !== 0">
    <ion-list>
      <ion-item *ngFor="let p of products; let i = index">
        <ion-avatar item-start>
          <img-loader [src]="p?.product?.images[0]?.url" class="img-loader"></img-loader>
        </ion-avatar>
        <h3 style="padding: 1px;">{{ p?.product?.description }}</h3>
        <p>Quantida a comprar: {{ p.quantity || 'NÃO DEFINIDO' }}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
