page-public-details-shopping-list {
  .list-card {
    .card {
      margin: 0;
      margin-bottom: 10px;
      width: 100%;
      padding-bottom: 0 !important;
      border-left: solid 5px color($colors, green);
    }

    .label {
      margin: 0;
    }

    .note {
      max-height: 32px;
      overflow: hidden;
      white-space: normal;
      line-height: 1.2;
    }
  }

  ion-avatar img {
    border-radius: 0 !important;
  }

  .card {
    h4 {
      font-weight: bold;
    }
  }

  ion-fab[bottom] {
    bottom: 70px;
  }
}
