<ion-header>
  <ion-navbar color="primary">
    <ion-title>Listas de compra</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card no-border class="notfound" *ngIf="lists.length == 0">
    <ion-card-content text-center>
      <img src="assets/imgs/no-results.png" />
      <h1>Nenhuma lista de compra foi encontrada</h1>
    </ion-card-content>
  </ion-card>

  <div class="list-card" *ngIf="lists.length !== 0">
    <ion-card padding class="item-ribbon" 
      *ngFor="let l of lists; let i = index"
      [ngClass]="{'public': l.public}"
      (click)="goDetails(l)"
    >
      <span class="ribbon public" *ngIf="l.public">
        <span>Pública</span>
      </span>

      <ion-item no-padding>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-12>
              <h2>#{{ l.id }} - {{ l.name }}</h2>
            </ion-col>
          </ion-row>
        </ion-grid>

        <p class="note">{{ l?.note }}</p>

        <ion-grid no-padding style="padding: 5px" *ngIf="l.date_for_purchase || l.shared">
          <ion-row>
            <ion-col col-10>
              <p *ngIf="l.date_for_purchase">
                <ion-icon name="md-calendar"></ion-icon>
                Comprar dia {{ l?.date_for_purchase | date: 'dd/MM/yyyy hh:mm' }}<br>
              </p>
            </ion-col>

            <ion-col col-2>
              <p text-right *ngIf="l.shared">
                <ion-icon name="md-share"></ion-icon>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="lists.length < total">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <!-- this fab is placed at bottom end -->
  <ion-fab bottom end #fab>
    <button ion-fab color="primary" class="pop-in" (click)="newList()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
